/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";
/* src/styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #000000, #000000, #000000); /* Tu fondo */
    overflow: hidden;
    perspective: 1000px;
}
