@import "tailwindcss";
@plugin "daisyui";  /* <--- ESTA LÍNEA ES OBLIGATORIA EN V4 */

/* Tus configuraciones globales */
@theme {
  --font-sans: 'Poppins', sans-serif;
}

/* El reset para tu Login */
:root {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}
